@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Currently, this web site does not collect any data. So the cookie consent banner is disabled.</p>
