@page "/song/votes/{id}"
@model BillionSongs.Pages.SongVotesModel
@{
    ViewData["Title"] = "SongVotes";
    Layout = null;
}

<body style="margin: 0">
    <form method="post" target="_parent">
        <button id="upvote" type="submit" asp-page-handler="Upvote">👍 ...</button>
        <button id="downvote" type="submit" asp-page-handler="Downvote">👎 ...</button>
    </form>
</body>

