@page "/song/votes/{id}"
@model BillionSongs.Pages.SongVotesModel
@{
    ViewData["Title"] = "SongVotes";
    Layout = "_BareLayout";
}

<body style="margin: 0">
    <form method="post" target="_parent">
        <div class="btn-group btn-group-xs">
            <button id="upvote" type="submit" asp-page-handler="Upvote"
                    class="btn @(Model.OwnVote == true ? ".active": "")">👍 @Model.Upvotes</button>
            <button id="downvote" type="submit" asp-page-handler="Downvote"
                    class="btn @(Model.OwnVote == false ? ".active": "")">@Model.Downvotes 👎</button>
        </div>
    </form>
</body>
