@page "/song/{id}"
@using System.Net
@model BillionSongs.Pages.SongModel
@{
    ViewData["Title"] = @Model.Song.Title ?? "Untitled";
}

<article>
    <h3>@(Model.Song.Title ?? "Untitled")</h3>

    <pre>@Model.Song.Lyrics</pre>
</article>

<section>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=@(
                WebUtility.UrlEncode(Url.Page("Song", pageHandler: null, values: new { id = @Model.Song.ID }, protocol: Request.Scheme))
            )&layout=button_count&size=small&width=86&height=20&appId"
            width="86" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowTransparency="true" allow="encrypted-media"></iframe>
</section>
