@page "/top"
@model BillionSongs.Pages.TopSongsModel
@inject IRandomSongProvider RandomSongProvider
@{
    ViewData["Title"] = "Top 10 songs";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Top 10 songs of all time</h2>
<ol start="0">
@foreach (var summary in Model.Top) {
    <li>
        <partial name="_SongSummaryPartial" model="@summary" />
    </li>
}
</ol>



