@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http.Extensions
@model string
@inject SignInManager<SongsUser> SignInManager
@inject UserManager<SongsUser> UserManager

<div class="text-muted" style="font-size: 70%">
@if (SignInManager.IsSignedIn(User)) {
    <div>
        logged in as
        <a asp-area="Identity" asp-page="/Account/Manage/Index" target="_parent"
            class="text-dark" title="Manage">@User.Identity.Name</a>
        <form asp-area="Identity" asp-page="/Account/Logout" method="post" target="_parent"
                asp-route-returnUrl="@(Model ?? Context.Request.GetEncodedPathAndQuery())"
                class="form-inline" style="display: inline-flex">
            <button type="submit" class="btn btn-link" style="font-size: 100%; padding: 0">(logout)</button>
        </form>
    </div>
}
</div>
